<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2008, DIaLOGIKa
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of copyright holders, nor the names of its contributors
 *       may be used to endorse or promote products derived from this software
 *       without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE 
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF 
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<FeatureGroup Id="Assemblies">
			<ComponentRef Id="OdfAddinLib.dll"/>
			<ComponentRef Id="OdfConverterLib.dll" />
			<ComponentRef Id="OdfZipUtils.dll" />

			<ComponentRef Id="OdfConverterLauncher.exe" />
			<ComponentRef Id="OdfConverter.exe" />

			<ComponentRef Id="OdfExcelAddin.dll" />
			<ComponentRef Id="OdfExcelAddinShim.dll" />

			<ComponentRef Id="OdfPowerPointAddin.dll" />
			<ComponentRef Id="OdfPowerPointAddinShim.dll" />

			<ComponentRef Id="OdfWordAddin.dll" />
			<ComponentRef Id="OdfWordAddinShim.dll" />

			<ComponentRef Id="PresentationConverter.dll" />
			<ComponentRef Id="PresentationConverter2Odf.dll" />
			<ComponentRef Id="PresentationConverter2Oox.dll" />

			<ComponentRef Id="SpreadsheetConverter.dll"/>
			<ComponentRef Id="SpreadsheetConverter2Odf.dll"/>
			<ComponentRef Id="SpreadsheetConverter2Oox.dll"/>

			<ComponentRef Id="WordprocessingConverter.dll"/>
			<ComponentRef Id="WordprocessingConverter2Odf.dll"/>
			<ComponentRef Id="WordprocessingConverter2Oox.dll"/>

			<ComponentRef Id="zlibwapi.dll"/>

			<ComponentRef Id="de_DE_OdfAddinLib.resources.dll"/>
			<ComponentRef Id="de_DE_OdfPowerPointAddin.resources.dll"/>
			<ComponentRef Id="de_DE_OdfExcelAddin.resources.dll"/>
			<ComponentRef Id="de_DE_OdfWordAddin.resources.dll"/>

			<ComponentRef Id="fr_FR_OdfAddinLib.resources.dll"/>
			<ComponentRef Id="fr_FR_OdfPowerPointAddin.resources.dll"/>
			<ComponentRef Id="fr_FR_OdfExcelAddin.resources.dll"/>
			<ComponentRef Id="fr_FR_OdfWordAddin.resources.dll"/>

			<ComponentRef Id="ja_JP_OdfAddinLib.resources.dll"/>
			<ComponentRef Id="ja_JP_OdfPowerPointAddin.resources.dll"/>
			<ComponentRef Id="ja_JP_OdfExcelAddin.resources.dll"/>
			<ComponentRef Id="ja_JP_OdfWordAddin.resources.dll"/>

			<ComponentRef Id="nl_NL_OdfAddinLib.resources.dll"/>
			<ComponentRef Id="nl_NL_OdfPowerPointAddin.resources.dll"/>
			<ComponentRef Id="nl_NL_OdfExcelAddin.resources.dll"/>
			<ComponentRef Id="nl_NL_OdfWordAddin.resources.dll"/>

			<ComponentRef Id="pl_PL_OdfAddinLib.resources.dll"/>
			<ComponentRef Id="pl_PL_OdfPowerPointAddin.resources.dll"/>
			<ComponentRef Id="pl_PL_OdfExcelAddin.resources.dll"/>
			<ComponentRef Id="pl_PL_OdfWordAddin.resources.dll"/>

			<ComponentRef Id="zh_CHS_OdfAddinLib.resources.dll"/>
			<ComponentRef Id="zh_CHS_OdfPowerPointAddin.resources.dll"/>
			<ComponentRef Id="zh_CHS_OdfExcelAddin.resources.dll"/>
			<ComponentRef Id="zh_CHS_OdfWordAddin.resources.dll"/>
		</FeatureGroup>

		<Feature Id="WORDADDIN" 
				 Title="!(loc.FeatureNameWordAddin)" 
				 Level="1" 
				 ConfigurableDirectory="INSTALLDIR"
				 Description='!(loc.FeatureDescriptionWordAddin)' 
				 Display='expand' 
				 AllowAdvertise='no'>
			<FeatureGroupRef Id="Assemblies"/>

			<ComponentRef Id="Readme"/>
      <ComponentRef Id="License"/>

			<ComponentRef Id="RegistryEntriesWord"/>
			<ComponentRef Id="FileAssociationOdt"/>
			<ComponentRef Id="RegistryEntryContextMenuOdt"/>

			<ComponentRef Id="RegistryFixKB908002"/>

			<Feature Id="TEMPLATES" 
					 Title="!(loc.FeatureNameTemplates)" 
					 Level="1" 
					 ConfigurableDirectory="ODFTEMPLATEFOLDER"
					 Description="!(loc.FeatureDescriptionTemplates)"
					 AllowAdvertise='no' 
					 TypicalDefault='install' 
					 InstallDefault='followParent'>
				<ComponentRef Id="Templates2007"/>
				<ComponentRef Id="RegistryTemplates2007"/>
				<ComponentRef Id="RegistryTemplates"/>
				
				<ComponentRef Id="ODFFax.dotx"/>
				<ComponentRef Id="ODFFax.png"/>
				<ComponentRef Id="ODFFaxBig.png"/>
				
				<ComponentRef Id="ODFLetter.dotx"/>
				<ComponentRef Id="ODFLetter.png"/>
				<ComponentRef Id="ODFLetterBig.png"/>
				
				<ComponentRef Id="ODFMemo.dotx"/>
				<ComponentRef Id="ODFMemo.png"/>
				<ComponentRef Id="ODFMemoBig.png"/>
				
				<ComponentRef Id="ODFReport.dotx"/>
				<ComponentRef Id="ODFReport.png"/>
				<ComponentRef Id="ODFReportBig.png"/>

				<ComponentRef Id="ODFFax.dot"/>
				<ComponentRef Id="ODFLetter.dot"/>
				<ComponentRef Id="ODFMemo.dot"/>
				<ComponentRef Id="ODFReport.dot"/>
        <ComponentRef Id="License"/>
      </Feature>
    </Feature>

    <Feature Id="EXCELADDIN"
				 Title="!(loc.FeatureNameExcelAddin)"
				 Level="1"
				 ConfigurableDirectory='INSTALLDIR'
				 Description='!(loc.FeatureDescriptionExcelAddin)'
				 AllowAdvertise='no'
				 TypicalDefault='install'>
      <FeatureGroupRef Id="Assemblies"/>

      <ComponentRef Id="Readme"/>
      <ComponentRef Id="License"/>
			<ComponentRef Id="RegistryEntriesExcel"/>
			
			<ComponentRef Id="FileAssociationOds"/>
			<ComponentRef Id="RegistryEntryContextMenuOds"/>

			<ComponentRef Id="RegistryFixKB908002"/>

		</Feature>

		<Feature Id="POWERPOINTADDIN" 
				 Title="!(loc.FeatureNamePowerPointAddin)"
				 Level="1" 
				 ConfigurableDirectory='INSTALLDIR'
				 Description='!(loc.FeatureDescriptionPowerPointAddin)'
				 AllowAdvertise='no'
				 TypicalDefault='install'>
			<FeatureGroupRef Id="Assemblies"/>

			<ComponentRef Id="Readme"/>
      <ComponentRef Id="License"/>
			<ComponentRef Id="RegistryEntriesPowerPoint"/>
			
			<ComponentRef Id="FileAssociationOdp"/>
			<ComponentRef Id="RegistryEntryContextMenuOdp"/>

			<ComponentRef Id="RegistryFixKB908002"/>

		</Feature>
	</Fragment>
</Wix>