/* General Layout*/
body {
	margin-left:20px;
	padding-left:20px;
	font-family:Lucida sans, Arial, sans-serif;
	font-size:0.75em;
	background-color:#FCFCFC;
	}

#wrapper {
	width:55em;
	margin-left:20px;	
	}

.content	{
	border:1px solid #D9E3EB; 
	background-color:white; 
	padding:0.5em 1em;
	margin:0 0 10px 0;	 
}
	
/* Links */	
a {
	color:#426681;
	}
a:hover {
	text-decoration:none;
	}
a img {
	border: 0;
	}

/* Headers */	
h1 {
	font-size:2.5em;
	font-weight:normal;
	padding:0.5em 0 0 0;
	letter-spacing:-1px;
	color:#426681;		
	}
h2 {
	font-size:1.4em;
	font-weight:bolder;
	color:#426681;	
    background:#E8EFF5	
}
h3 {
    font-size:1.4em;
    font-weight:bold;
    border-bottom:2px solid #E8EFF5;
	color:#426681;
	}
	
h4 {
	font-weight:bold;
	margin-bottom:0px;
}

/* Block spacing */
ul{
    padding-top:0px;
    margin-top:0px;
    margin-bottom:8px;
 }
 
ol{
   padding-top:0px;
   margin-top:0px;
   margin-bottom:8px;
 }

p{
    margin-top:0px;
	line-height:1.4em;	
	}
	
div.nav{
   margin-top:8px;

}
	
	
/* Font styles */
dfn {
	font-style:normal;
	font-weight: bolder;
}

pre, code {
	font-size:1.2em;
	}
	
.comment{
    color:#000099;
} 

.metadata {
    color:#000099;
    padding-left:30px;
}
