<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (c) 2008, DIaLOGIKa
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of copyright holders, nor the names of its contributors
 *       may be used to endorse or promote products derived from this software
 *       without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE 
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF 
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<!-- sets WixUI_InstallMode to one of 
					- InstallComplete
					- InstallCustom
					- InstallTypical (currently commented out)
			-->
			<Dialog Id="MySetupTypeDlg" Width="370" Height="270" Title="!(loc.MyDlgTitle)">
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.SetupTypeDlgBannerBitmap)" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SetupTypeDlgTitle)" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SetupTypeDlgDescription)" />

				<Control Id="CompleteButton" Type="PushButton" X="40" Y="65" Width="80" Height="17" ToolTip="!(loc.SetupTypeDlgCompleteButtonTooltip)" Text="!(loc.SetupTypeDlgCompleteButton)">
					<Publish Property="WixUI_InstallMode" Value="InstallComplete">1</Publish>
					<Publish Event="SetInstallLevel" Value="1000">1</Publish>
				</Control>
				<Control Id="CompleteText" Type="Text" X="60" Y="85" Width="280" Height="20" Text="!(loc.SetupTypeDlgCompleteText)" />

				<Control Id="CustomButton" Type="PushButton" X="40" Y="118" Width="80" Height="17" ToolTip="!(loc.SetupTypeDlgCustomButtonTooltip)" Text="!(loc.SetupTypeDlgCustomButton)">
					<Publish Property="WixUI_InstallMode" Value="InstallCustom">1</Publish>
				</Control>
				<Control Id="CustomText" Type="Text" X="60" Y="138" Width="280" Height="30" Text="!(loc.SetupTypeDlgCustomText)" />

				<!--<Control Id="TypicalButton" Type="PushButton" X="40" Y="171" Width="80" Height="17" ToolTip="!(loc.SetupTypeDlgTypicalButtonTooltip)" Default="yes" Text="!(loc.SetupTypeDlgTypicalButton)">
					<Publish Property="WixUI_InstallMode" Value="InstallTypical">1</Publish>
					<Publish Event="SetInstallLevel" Value="3">1</Publish>
				</Control>
				<Control Id="TypicalText" Type="Text" X="60" Y="191" Width="280" Height="20" Text="!(loc.SetupTypeDlgTypicalText)" />-->
				
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUINext)" />
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>